<!doctype html>
<html>
<head>
<script src="js/underscore-1.4.4.js"></script>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/json2.js"></script>
<script src="js/backbone-0.9.10.js"></script>
<!--script src="my/generic-restaurant-model.js"></script-->
<script src="http://www.parsecdn.com/js/parse-1.2.2.min.js"></script>
<style>
.restaurantClass {
    width: 300px;
    //height: 50px;
    border: solid 1px darkred;
    background-color: #faa;
    padding: 10px;
}
</style>
</head>
<body>

<script id="restaurant-message" type="text/underscore-template">
Restaurant “<%- restaurantName %>” is <b><%- state %></b>.<br>
Occupancy: “<%- currentOccupancy %>”<br>
Restaurant is open until the last guest leaves.<br>
<button id="visitor-add">Add</button>
<button id="visitor-remove">Remove</button>
<button id="open-rest">Open</button>
<button id="close-rest">Close</button>
<div class="Visitors">Visitors</div>
<br>
</script>

<script id="visitor-box" type="text/underscore-template">
<%- title %>
</script>

<h2>Backbone's View</h2>

<script>

var Visitor = Backbone.Model.extend({
	defaults: { lastFoursquareCheckin: "", vcid: "" },
	initialize: function() { 
		this.set("vcid", this.cid );
	},
	checkin: function(venue) { //Checkin user at restaurant
		this.set("lastFoursquareCheckin", venue);
			if (this.attributes.title) {
				console.log("Visitor “"
								+ this.attributes.title + " "
								+ this.attributes.vcid
								+ "” checked in at “"
								+ venue + "”");
			}
		}
});
var VisitorsList = Backbone.Collection.extend({ model: Visitor });

var RestaurantModel = Backbone.Model.extend({
	
	defaults: { // can mess with GET!
		currentOccupancy: 0,
		state: "open"
	},
	
	initialize: function() {
		_.bindAll(this); //because request handlers loose context
		var visitors = new VisitorsList;
		this.set("visitors", visitors);
		var restView = new RestaurantView({ model: this });
		$("body").append(restView.el);
	},
	
	validate: function(attributes) {
		switch(attributes.state) {
		case "open":
			if(attributes.currentOccupancy < 0) 
				return "Number of visitors must not be negative";
			break;
		case "closing":
			if(attributes.currentOccupancy < 0)
				return "Number of visitors must not be negative";
			break;
		case "closed":
			if(attributes.currentOccupancy != 0)
				return "Number of visitors in a closed restaurant must be 0";
			break;
		default:
			return "Expected 'open' or 'close' state";
		}
	},

	visitorCame: function(visitor) {
		if (!this.attributes.visitors.get(visitor)) {
			var random = Math.random().toString(36).substring(7);
			var visitor = new Visitor({ title: random, id: random});
		}
		visitor.view = new VisitorView({ model: visitor });
		if (this.attributes.state != "closed") {
			visitor.checkin(this.attributes.restaurantName);
			this.attributes.visitors.add(visitor);
			this.set({currentOccupancy: this.attributes.currentOccupancy + 1});
			return visitor;
		}
		return false;
	},

	visitorLeft: function(visitor) {
		var visitors = this.attributes.visitors;
		var v = visitors.get(visitor);
		if(v) {
			visitors.remove(v);
			this.set({currentOccupancy: this.attributes.currentOccupancy - 1});
		} else {
			visitors.pop();
			this.set({currentOccupancy: this.attributes.currentOccupancy - 1});
		}
		if(this.attributes.currentOccupancy == 0 && this.attributes.state == "closing") {
			this.closeRestaurant();
		}
	},

	openRestaurant: function() {
		var visitors = this.attributes.visitors;
		if(this.attributes.state == "closed") {
			return this.set({state: "open", currentOccupancy: 0}, {validate: true});
		} else {
			console.log("Cannot open unclosed restaurant");
			return false;
		}
	},

	closeRestaurant: function() {
		if(this.attributes.state != "closed") {
			if(this.attributes.currentOccupancy == 0) {
				this.set({state: "closed"}, {validate: true});
				this.get(this.attributes.myId);
			} else {
				this.set({state: "closing"}, {validate: true});
			}
			return this;
		}
		return false;
	},

	restoreRestaurant: function(jsonData) {
		console.log("Visitors: ", jsonData.results[0].visitors);
		this.attributes.visitors.reset(jsonData.results[0].visitors);
		this.attributes.visitors.each(function(visitor) { 
			visitor.view = new VisitorView({ model: visitor });
		})
		//Each of the two below triggers PUT in ParsePersistedRestaurantModel.initialize
		this.set({currentOccupancy: jsonData.results[0].currentOccupancy});
		this.set({state: jsonData.results[0].state}); 
	},
});

var RestaurantView = Backbone.View.extend({
	className: "restaurantClass",
	tmpl: _.template($("#restaurant-message").html()),
	events: {
		"click #open-rest": "do_open", 
		"click #close-rest": "do_close", 
		"click #visitor-add" : "do_add", 
		"click #visitor-remove": "do_remove", 
		"click .visitor": "do_remove" 
	},   
	initialize: function() {
		this.listenTo(this.model, "change", this.render);
		this.render();
	},
	render: function() {
		//console.log("RENDER:"+this.model.attributes.restaurantName);
		this.$el.html(this.tmpl(this.model.attributes)).attr('id', this.model.attributes.myId);
		//Render visitors
		var self = this;
		this.model.attributes.visitors.each(function(visitor) {
			self.$el.append(visitor.view.el);
		})
		return this;   
	},
	do_close: function() {
		this.model.closeRestaurant();
		return this;
	},
	do_open: function() {
		this.model.openRestaurant();
		return this;
	},
	do_add: function() {
		this.model.visitorCame();
	},
	do_remove: function(clicked) {
		var id = $(clicked.currentTarget).attr("id");
		console.log(id);
		var v = this.model.attributes.visitors.get(id);
		console.log(v);
		if (this.model.attributes.currentOccupancy > 0) {
			this.model.visitorLeft(v);
		}
	}
});

var VisitorView = Backbone.View.extend({
	tagName : 'button',
	className: "visitor",
	tmpl: _.template($("#visitor-box").html()),
	initialize: function() {
		this.render();
	},
	render: function() {
		//console.log("RENDER VIEW:"+this.model.attributes.vcid);
		this.$el.html(this.tmpl(this.model.attributes));
		this.$el.attr('id', this.model.attributes.title);
		return this;
	}
});

function setHeader(xhr) {
		xhr.setRequestHeader('X-Parse-Application-Id', 'aBVFDLZ1bywHY65yQtsAv57Qbgr3O2xZBnHzt8SJ');
		xhr.setRequestHeader('X-Parse-REST-API-Key', '2wrecY9xNFu00RdPIDMRB0agtg6947zOOGFi6DCl');
		xhr.setRequestHeader('Content-Type', 'application/json');
		return xhr;
}

var ParsePersistedRestaurantModel = RestaurantModel.extend({

    initialize: function() {
		ParsePersistedRestaurantModel.__super__.initialize.apply(this, arguments);
		
		this.sync("read", this, {
			success: this.getRequestHandler,
			data: jQuery.param({ 'where': JSON.stringify({'myId' : this.attributes.myId })}),
			url: "https://api.parse.com/1/classes/restaurant"
		});
		
		this.on('change:currentOccupancy change:state', function() { 
			this.sync("update", this, {
				success: this.putRequestHandler,
				data: JSON.stringify(this),
				url: "https://api.parse.com/1/classes/restaurant/" + this.attributes.parseObjectId
			});
		}, this)
	},
	
	sync: function(method, model, options) {
		options = options || {};
		options.beforeSend = setHeader;
		Backbone.sync.apply(this, [method, model, options]);
	},

	postRequestHandler: function(model, jsonData, options) {
		console.log("POST result: ", jsonData);
		//Initial post, to save API objectId
		this.set({parseObjectId: jsonData.objectId});
		return jsonData;
	},
	putRequestHandler: function(model, jsonData, options) {
		console.log("PUT result: ", jsonData);
		return jsonData;
	},
	getRequestHandler: function(model, jsonData, options) {
		console.log("GET result: ", jsonData); 
		if (jsonData.results.length > 0) { 
			console.log("Restaurant exists on parse.com"); 
			this.set({parseObjectId: jsonData.results[0].objectId}); //using index is bad!
			if (jsonData.results[0].currentOccupancy != undefined) { 
				this.restoreRestaurant(jsonData);
			}
		} else {
			console.log("Restaurant does not exist on parse.com");
			//Create empty restaurant
			this.sync("create", this, {
				success: this.postRequestHandler,
				data: JSON.stringify({ 
					'myId' : this.attributes.myId, 
					'currentOccupancy': 0, 
					'restaurantName': this.attributes.restaurantName, 
					'state':  this.attributes.state
				}),
				url: "https://api.parse.com/1/classes/restaurant"
			})
		}
		return jsonData;
	},

});

// Создать конкретный ресторан.
var Restaurants = Backbone.Collection.extend({
	//model: RestaurantModel,
	model: ParsePersistedRestaurantModel,
});
var myRestaurants = new Restaurants([
	{ restaurantName: "У Озера", myId: "r1" },
	{ restaurantName: "Дикая утка", myId: "r2" }
]);

</script>

</body>
</html>
