<!doctype html>
<html>
<head>
<script src="js/underscore-1.4.4.js"></script>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/json2.js"></script>
<script src="js/backbone-0.9.10.js"></script>
<!--script src="my/generic-restaurant-model.js"></script-->
<script src="http://www.parsecdn.com/js/parse-1.2.2.min.js"></script>
<style>
.restaurantClass {
    width: 300px;
    //height: 50px;
    border: solid 1px darkred;
    background-color: #faa;
    padding: 10px;
}
</style>
</head>
<body>

<script id="restaurant-message" type="text/underscore-template">
Restaurant “<%- restaurantName %>” is <b><%- state %></b>.<br>
Occupancy: “<%- currentOccupancy %>”<br>
Restaurant is open until the last guest leaves.<br>
<button id="visitor-add">Add</button>
<button id="visitor-remove">Remove</button>
<button id="open-rest">Open</button>
<button id="close-rest">Close</button>
<div class="Visitors">Visitors</div>
<br>
</script>

<script id="visitor-box" type="text/underscore-template">
<%- vcid %>
</script>

<h2>Backbone's View</h2>

<script>
/*
Parse.initialize("aBVFDLZ1bywHY65yQtsAv57Qbgr3O2xZBnHzt8SJ", "17L7goDV12MLrs6uDCaXx5xw8bFiT5C1RUoTHc6A");
var TestObject = Parse.Object.extend("TestObject");
var testObject = new TestObject();
testObject.save({foo: "bar"}, {
  success: function(object) {
    alert("yay! it worked");
  }
});
*/

var Visitor = Backbone.Model.extend({
	defaults: { lastFoursquareCheckin: "", vcid: "" },
	urlRoot: "/visitors",
	initialize: function() { 
		this.set("vcid", this.cid );
	},
	checkin: function(venue) { //Chekin user at restaurant
		this.set("lastFoursquareCheckin", venue);
			if (this.attributes.title) {
				console.log("Visitor “"
								+ this.attributes.title + " "
								+ this.attributes.vcid
								+ "” checked in at “"
								+ venue + "”");
			}
		}
});
var VisitorsList = Backbone.Collection.extend({ model: Visitor });

var RestaurantModel = Backbone.Model.extend({

	defaults: {
		currentOccupancy: 0,
		name: "",
		state: "open",
		maxOccupancy: 0
	},
	
	initialize: function() {
		var visitors = new VisitorsList;
		this.set("visitors", visitors);
		this.set("rcid", this.cid );
		// Propagate "change" to RestaurantModel
		// Not necessary if RestaurantModel attributes are changed along with a Visitor
		/*var self = this;
		visitors.on("add remove", function(){
			self.trigger("change");
		})*/
	},

	validate: function(attributes) {
		switch(attributes.state) {
		case "open":
			if(attributes.currentOccupancy < 0) 
				return "Number of visitors must not be negative";
			break;
		case "closing":
			if(attributes.currentOccupancy < 0)
				return "Number of visitors must not be negative";
			break;
		case "closed":
			if(attributes.currentOccupancy != 0)
				return "Number of visitors in a closed restaurant must be 0";
			break;
		default:
			return "Expected 'open' or 'close' state";
		}
	},

	visitorCame: function(visitor) {
		if (this.attributes.state != "closed" && !this.attributes.visitors.get(visitor)) {
			visitor.checkin(this.attributes.restaurantName);
			this.attributes.visitors.add(visitor);
			this.set({currentOccupancy: this.attributes.currentOccupancy + 1});
			this.request("", "post");
			this.request(this.attributes.rcid, "get")
			this.request("", "put");
			return visitor;
		}
		return false;
	},

	visitorLeft: function(visitor) {
		var visitors = this.attributes.visitors;
		var v = visitors.get(visitor);
		if(v) {
			visitors.remove(v);
			this.set({currentOccupancy: this.attributes.currentOccupancy - 1});
		} else {
			visitors.pop();
			this.set({currentOccupancy: this.attributes.currentOccupancy - 1});
		}
		if(this.attributes.currentOccupancy == 0 && this.attributes.state == "closing") {
			this.closeRestaurant();
		}
	},

	openRestaurant: function() {
		var visitors = this.attributes.visitors;
		if(this.attributes.state == "closed") {
			return this.set({state: "open", currentOccupancy: 0}, {validate: true});
		} else {
			console.log("Cannot open unclosed restaurant");
			return false;
		}
	},

	closeRestaurant: function() {
		if(this.attributes.state != "closed") {
			if(this.attributes.currentOccupancy == 0) {
				this.set({state: "closed"}, {validate: true});
				this.get(this.attributes.rcid);
			} else {
				this.set({state: "closing"}, {validate: true});
			}
			return this;
		}
		return false;
	},
	
	setHeader: function (xhr) {
		xhr.setRequestHeader('X-Parse-Application-Id', 'aBVFDLZ1bywHY65yQtsAv57Qbgr3O2xZBnHzt8SJ');
		xhr.setRequestHeader('X-Parse-REST-API-Key', '2wrecY9xNFu00RdPIDMRB0agtg6947zOOGFi6DCl');
		xhr.setRequestHeader('Content-Type', 'application/json');
		//xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
		return xhr;
	},
		
	request: function(objectId, type) {
		var value;
		switch (type) {
		case "post":
			//var value = JSON.stringify({});
			value = JSON.stringify(this);
			break;
		case "put":
			value = JSON.stringify(this);
			break;
		case "get":
			value = JSON.stringify({ 'rcid' : objectId });
			break;
		default:
			break;
		}
		$.ajax({
			url: "https://api.parse.com/1/classes/restaurant",
			type: type,
			dataType: 'json',
			data: value,
			beforeSend: this.setHeader,
			success: function(jsonData){
				console.log(type, " request successful");
				console.log("result: ", jsonData);
			},
			error:function(){
				console.log(type, " request failed");
			}   
		}); 		
	}	
});

var RestaurantView = Backbone.View.extend({
	className: "restaurantClass",
	tmpl: _.template($("#restaurant-message").html()),
	events: {
		"click #open-rest": "do_open", 
		"click #close-rest": "do_close", 
		"click #visitor-add" : "do_add", 
		"click #visitor-remove": "do_remove", 
		"click .visitor": "do_remove" 
	},   
	initialize: function() {
		this.listenTo(this.model, "change", this.render);
		this.render();
	},
	render: function() {
		console.log("RENDER:"+this.model.attributes.restaurantName);
		this.$el.html(this.tmpl(this.model.attributes)).attr('id', this.model.attributes.rcid);
		//Render visitors
		var self = this;
		this.model.attributes.visitors.each(function(visitor) {
			self.$el.append(visitor.view.el);
		})
		return this;   
	},
	do_close: function() {
		this.model.closeRestaurant();
		return this;
	},
	do_open: function() {
		this.model.openRestaurant();
		return this;
	},
	do_add: function() {
		var random = Math.random().toString(36).substring(7);
		var visitor = new Visitor({ title: random});
		visitor.view = new VisitorView({ model: visitor });
		this.model.visitorCame(visitor);
	},
	do_remove: function(clicked) {
		var id = $(clicked.currentTarget).attr("id");
		var v = this.model.attributes.visitors.get(id);
		if (this.model.attributes.currentOccupancy > 0) {
			this.model.visitorLeft(v);
		}
	}
});

var VisitorView = Backbone.View.extend({
	tagName : 'button',
	className: "visitor",
	tmpl: _.template($("#visitor-box").html()),
	initialize: function() {
		this.render();
	},
	render: function() {
		console.log("RENDER VIEW:"+this.model.attributes.vcid);
		this.$el.html(this.tmpl(this.model.attributes));
		this.$el.attr('id', this.model.attributes.vcid);
		return this;
	}
});

// Создать конкретный ресторан.
var r1 = new RestaurantModel({ restaurantName: "У Озера" }); 
var r2 = new RestaurantModel({ restaurantName: "Дикая утка" });
var restView1 = new RestaurantView({ model: r1 });
var restView2 = new RestaurantView({ model: r2 });
$("body").append(restView1.el);
$("body").append(restView2.el);


</script>

</body>
</html>
