<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone.js"></script>
	<title>Task 7</title>
<style>
#error, #success {
    display: none;
}
#success { color: darkgreen; }
#error { color: darkred; }
.block { color: blue; }
</style>
</head>

<body>
<div id="block" class="block">
</div>

<!-- Блок ввода имени пользователя -->
<script type="text/template" id="start"> 
    <div class="start"> 
        <div class="userplace">
            <label for="username">Имя пользователя: </label>
            <input type="text" id="username" />
        </div>
        <div class="buttonplace">
            <input type="button" value="Проверить" />
        </div>
    </div>
</script>

<!-- Блок ошибки -->
<script type="text/template" id="error">
    <div class="error">
        Ошибка. Пользователь  <%= username %> не найден.
        <a href="#!/">Go back</a>
    </div>
</script>

<!-- Блок удачи -->
<script type="text/template" id="success">
    <div class="success">
        Пользователь <%= username %> найден.
        <a href="#!/">Go back</a>
    </div>        
</script>

<script src="js/task-7.js"></script>
<script>
/*
$(document).ready(function(){
	$(":input[type='button']").on("click", function() {
		console.log("clicked button");
		console.log($(":input[type='text']").val());
		if ($(":input[type='text']").val() == "test")
			console.log('success');
		else
			console.log('error');
	})
})
*/
</script>
</body>
</html>
