<!doctype html>
<html>
<head>
<script src="js/underscore-1.4.4.js"></script>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/json2.js"></script>
<script src="js/backbone-0.9.10.js"></script>
<script src="my/generic-restaurant-model.js"></script>
<style>
.restaurantClass {
    width: 300px;
    //height: 50px;
    border: solid 1px darkred;
    background-color: #faa;
    padding: 10px;
}
</style>
</head>
<body>

<script id="restaurant-message" type="text/underscore-template">
Restaurant “<%- restaurantName %>” is <b><%- state %></b>.<br>
Occupancy: “<%- currentOccupancy %>”<br>
Restaurant is open until the last guest leaves.<br>
<button id="visitor-add">Add</button>
<button id="visitor-remove">Remove</button>
<button id="open-rest">Open</button>
<div class="Visitors">Visitors</div>
<br>
</script>

<script id="visitor-box" type="text/underscore-template">
<%- vcid %>
</script>

<h2>Backbone's View</h2>

<script>
var Visitor = Backbone.Model.extend({
                    defaults: { lastFoursquareCheckin: "", vcid: "" },
					
					vcid: function() { //Copy cid to attributes
						this.set("vcid", this.cid );
					},

                    checkin: function(venue) {
                        this.set("lastFoursquareCheckin", venue);
                        if(this.get("title")) {
                            console.log("Visitor “"
                                        + this.get("title") + " "
                                        //+ this.get("firstName")
                                        + "” checked in at “"
                                        + venue + "”");
                        }
                    }
                });
var VisitorsList = Backbone.Collection.extend({ model: Visitor });
var RestaurantModel = GenericRestaurantModel.extend({
            initialize: function() {
                /*
                 * Сделаем в модели ресторана коллекцию посетителей.
                 * this.attributes.visitors = new VisitorsList();
                 * Но лучше так:
                 */
                var visitors = new VisitorsList;
                this.set("visitors", visitors);

                /*
                 * Кстати, давайте обновлять Foursquare-чекин посетителя,
                 * как только он появляется в коллекции:
                 */
                visitors.on("add", function(visitor) {
                    visitor.checkin(this.get("restaurantName"));
					//Copy cid into visitors attributes
					visitor.vcid();	//console.log(visitor.get("vcid"))
					//Draw visitor 
					var visView = new VisitorView({ model: visitor });
					//$("#"+this.get("restaurantName")).append(visView.el);
                }, this);
            },

            visitorCame: function(visitor) {
                // Два раза в один и тот же ресторан не войти.
                if(!this.get("visitors").get(visitor)) {
                    // Наследуем старое поведение
					// Но также добавляем и новое:
                    if (GenericRestaurantModel.prototype.visitorCame.call(this))
						this.get("visitors").add(visitor);
                }
            },

            visitorLeft: function(visitor) {
                var visitors = this.get("visitors");
                var v = visitors.get(visitor);
				if (v) {
					if (GenericRestaurantModel.prototype.visitorLeft.call(this))
						visitors.remove(v);
				} else { // if visitor is not defined
					if (GenericRestaurantModel.prototype.visitorLeft.call(this))
						var removed = visitors.pop();
						//console.log(removed.cid);
				}
				if (this.attributes.currentOccupancy == 0)
					GenericRestaurantModel.prototype.closeRestaurant.call(this)				
            }
        });

var RestaurantView = Backbone.View.extend({
	className: "restaurantClass",
	// Кэшируем шаблон, данный нам в известном script-блоке.
	tmpl: _.template($("#restaurant-message").html()),
	events: {
		"click #open-rest": "do_open", //открыть снова
		"click #visitor-add" : "do_add",
		"click #visitor-remove": "do_remove", //remove last visitor
		"click .visitor": "do_remove" //remove specific visitor
	},   
	initialize: function() {
		this.listenTo(this.model, "change", this.render);
		this.render();
	},
	// обновить this.el новым содержимым.
	render: function() {
		//console.log("R:render");
		this.$el.html(this.tmpl(this.model.attributes)).attr('id', this.model.get("restaurantName"));
		var self = this;
		this.model.get("visitors").each(function() {
			self.$el.append(this.VisitorView.render().el);
		})
		return this;    // Рекомендуется.
	},
	do_close: function() {
		this.model.closeRestaurant();
		return this;
	},
	do_open: function() {
		this.model.openRestaurant();
		return this;
	},
	do_add: function() {
		//console.log("R:do_add");
		var random = Math.random().toString(36).substring(7);
		var v = new Visitor({ title: random});
		this.model.visitorCame(v);
		//Now draw new visitor from RestaurantModel using different View 
	},
	do_remove: function(clicked) {
		//Get html element id
		var id = $(clicked.currentTarget).attr("id");
		//Look in collection
		var v = this.model.get("visitors").get(id);
		if (this.model.get("currentOccupancy") > 0) {
			this.model.visitorLeft(v);
		}
	}
});

//Create view for a visitor 
var VisitorView = Backbone.View.extend({
	tagName : 'button',
	tmpl: _.template($("#visitor-box").html()),
	initialize: function() {
		this.listenTo(this.model, "change", this.render);
		this.render();
	},
	render: function() {
		//console.log("V:render");
		this.$el.html(this.tmpl(this.model.attributes));
		this.$el.attr('id', this.model.get("vcid")).addClass("visitor");
		return this;
	}
});

// Создать конкретный ресторан и конкретного посетителя.
var r1 = new RestaurantModel({ restaurantName: "У_Озера" });
var r2 = new RestaurantModel({ restaurantName: "Дикая_утка" });
var restView1 = new RestaurantView({ model: r1 });
var restView2 = new RestaurantView({ model: r2 });
$("body").append(restView1.el);
$("body").append(restView2.el);

</script>

</body>
</html>
